.home {
	img.heading-icon {
		width: 80px;
		height: 80px;
	}
	i {
		padding: 1px 4px;
		border-radius: 3px;
		background-color: #eee;
	}

	.home-title {
		position: relative;

		._official {
			position: absolute;
			margin-left: -0.3em;
			padding: 0;
			left: 100%;
			top: -0.5em;
			border-radius: 0;
			background-color: transparent;
			transform: rotate(20deg);
			font-weight: bold;
			font-style: normal;
			font-size: 50%;
			white-space: nowrap;
			pointer-events: none !important;
			user-select: none !important;
			opacity: 0.5;
		}
	}
}

.HomeVideo {
	width: 100%;
	max-width: 640px;
}
