.Separator {
	display: block;

	&.Horz {
		margin: 8px 0;
		width: 100%;
		height: 1px;
	}
	&.Vert {
		margin: 0 4px;
		width: 1px;
		height: 100%;
	}

	&.Marginless {
		margin: 0;
	}

	background-color: transparentize($dark, 0.75);
}
