.equip-modal {
	.unknown-status {
		user-select: none;
		cursor: pointer;
	}
	.badge.unit-name-badge {
		white-space: normal;
		word-break: keep-all;
	}

	.white-pre-line {
		white-space: pre-line;
	}

	.equip-rarity-icon {
		margin: -16px -16px -16px -8px;
		width: 80px;
		height: 80px;
	}

	.table-equip-modal.container {
		margin-bottom: 0 !important;

		.col {
			margin-bottom: -1px;
			padding: 0.75rem;
			border: 1px solid #dee2e6;

			&.icon-container {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			&.bg-dark {
				border-color: #454d55;
				font-weight: bold;
			}
			&.nested {
				display: flex;
				padding: 0;
				border-left: 0;
				border-top: 0;
				border-right: 0;

				> .row {
					margin: 0;
				}
			}
		}

		.badge-container .badge {
			white-space: normal;
		}
	}

	.res-icon {
		margin-right: 0.125em;
		width: 24px;
	}
	.cost-badge {
		cursor: default !important;
	}
	.upmodule-icon {
		margin: 0;
		width: 32px;
	}

	.upgrade-flow {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		column-gap: 0.65rem;
		overflow-x: auto;
	}

	.table-enchant tr:last-child {
		td, th {
			border-top-width: 3px !important;
		}
	}
}
