.DS_Store
node_modules
/dist
/public/assets/font
/public/assets/png
/public/assets/webp
/public/assets/audio
/public/assets/audio-c
/public/assets/bgm
/public/assets/anim
/external/assets/font
/external/assets/png
/external/assets/webp
/external/assets/audio
/external/assets/audio-c
/external/assets/bgm
/external/assets/anim
/stories
/api
/extool

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

test.html
