:global .essence-badge {
	> .card {
		word-break: keep-all;
		user-select: none;
		// cursor: pointer;
	}
	.text-content {
		word-break: keep-all;
	}

	&[data-count="0"] {
		opacity: 0.68;
	}

	.equip-icon {
		background-color: transparentize(#000, 0.8);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	}
}
