.TitleCallDisplay {
	$sm: map-get($grid-breakpoints, "sm");

	display: inline-grid;
	grid-template-columns: auto auto;
	margin: 0 0.25rem;

	.Table {
		.SkinName {
			padding: 0.5em 1.25em;
			border-top: 1px solid $dark;
			border-right: 1px solid $light;
		}
		.TypeColumn {
			padding: 0.5em 1em;
			border-top: 1px solid $dark;
		}
		.AudioColumn {
			border: 1px solid $secondary;

			> div {
				margin: 0.25rem 0;

				> audio {
					width: 100%;
					vertical-align: middle;

					@media (min-width: $sm) {
						width: auto;
						min-width: 300px;
					}
				}
			}
		}
	}
}
