.TitleCallDisplay {
	// padding-right: 1px;
	width: 100%;
	overflow: hidden;

	.TitleCallHeader {
		margin-left: calc(-0.5 * var(--bs-gutter-x) - 1px);
		margin-right: calc(-0.5 * var(--bs-gutter-x) + 1px);
		border-radius: 0.5em 0.5em 0 0;
		overflow: hidden;

		&::after {
			content: "";
			display: block;
			// margin-left: 1px;
			width: 100%;
			height: 1px;
			background: rgba($dark, 0.8);
		}
	}
	.TitleCallUnit {
		margin: 0 1px;
	}
	.TitleCalls {
		padding-left: 0;
		// border-bottom-left-radius: 0.25em;
		// border-bottom-right-radius: 0.25em;

		.TypeColumn {
			margin-left: -1px;
			border-left: 1px solid $border-color-dark;
		}
		.AudioColumn {
			margin-left: -1px;
			height: 100%;
			border-left: 1px solid $border-color;
			text-align: center;
		}
	}
}
