.buff-icon {
	$size: var(--size, 20px);

	display: inline-block;
	margin-right: 0.5em;
	width: $size;
	height: $size;
	vertical-align: bottom;

	background-repeat: no-repeat;
	background-size: 100%;
	image-rendering: optimizequality;

	&[data-inline="1"] {
		margin-right: 0;
	}
}
