.UnitTable {
	+ .UnitTable {
		margin-top: 10px;
	}

	--size: 1.2rem;

	display: grid;
	grid-template-columns: auto repeat(var(--cols, 3), 1fr);
	grid-auto-rows: auto;

	border-radius: 4px;
	overflow: hidden;

	// @include font-ibm;

	&::before,
	> * {
		padding: 5px;
		line-height: 20px;
		font-size: 14px;

		border-width: 0;
		border-style: solid;
		border-color: rgba($light, 0.25);
	}

	&::before {
		content: "";
		display: flex;
		grid-column: 1;
		grid-row: 2;
		border-right-width: 1px;
		border-bottom-width: 1px;
	}

	.TypeHeader {
		grid-column: 1 / calc(var(--cols, 3) + 2);
		grid-row: 1;
		border-bottom-width: 1px;
	}
	.RoleHeader {
		grid-row: 2;
		border-bottom-width: 1px;
		border-right-width: 1px;

		@for $i from 0 to 3 {
			&[data-role="#{$i}"] {
				grid-column: #{$i + 2};

				@if $i == 2 {
					border-right-width: 0;
				}
			}
		}
	}
	.RarityHeader {
		border-bottom-width: 1px;

		&[data-rarity="SS"] {
			border-bottom-width: 0;
		}
	}

	.Cell {
		border-width: 0;
		border-style: solid;
		border-right-width: 1px;
		border-bottom-width: 1px;
		border-color: rgba($dark, 0.25) !important;
		background-color: $light;
	}

	.TypeHeader,
	.RoleHeader,
	.RarityHeader,
	&::before {
		display: flex;
		align-items: center;
		justify-content: center;

		background-color: $dark;
		color: $light;

		> div {
			margin-right: 5px;
			vertical-align: top;
		}
	}
	.RoleHeader.Alt {
		display: none;
		border-right-width: 0;
		border-left-width: 1px;
	}
	.RarityHeader {
		grid-column: 1;
		width: 44px;
	}

	@include media-breakpoint-down(md) {
		&::before {
			display: none;
		}

		.RoleHeader {
			&.Alt {
				display: flex;
			}
			&:not(.Alt) {
				display: none;
			}
		}

		$-row: 2;
		$-rarities: "B", "A", "S", "SS";
		@each $-rarity in $-rarities {
			.RarityHeader[data-rarity="#{$-rarity}"] {
				grid-row-start: $-row;
				grid-row-end: $-row + 6;
			}

			.RoleHeader,
			.Cell {
				grid-column: 2 / 5;
			}

			@for $-role from 0 to 3 {
				.RoleHeader[data-rarity="#{$-rarity}"][data-role-idx="#{$-role}"] {
					grid-row: $-row + $-role * 2;
				}
				.Cell[data-rarity="#{$-rarity}"][data-role-idx="#{$-role}"] {
					grid-row: $-row + $-role * 2 + 1;
				}
			}

			$-row: $-row + 6;
		}
	}
}

.UnitListCell {
	padding: 5px;

	display: grid;
	grid-template-columns: repeat(auto-fill, 68px);
	grid-auto-rows: auto;
	grid-auto-flow: row;
	justify-content: space-around;
	align-content: start;
	align-items: start;
	gap: 10px;

	.UnitItem {
		display: inline-block;
		padding: 4px;
		border-radius: 4px;
		line-height: 1.2;
		font-weight: 600;
		color: $dark;
		cursor: pointer;

		// keep word if available, break if not
		overflow-wrap: anywhere;
		word-break: keep-all;

		&:hover {
			background-color: transparentize($secondary, 0.675);
		}

		> img {
			display: block;
			margin: 0 auto 5px;
			width: 60px;
			height: 60px;
		}
	}
}
