.ResearchTree {
	overflow-x: auto;
}
.ResearchEntity {
	display: inline-block;
	width: 62px;
	height: 62px;
}
.ResearchItem {
	padding: 10px;
	width: 40px;
	height: 40px;
}
.ResearchIcon {
	filter: drop-shadow(0 1px 4px rgba(0, 0, 0, 0.73));
	transform-box: fill-box;
	transform-origin: center;
	// transform: rotate(-90deg);
}

:global(.modal .modal-content).ResearchModal {
	.ResearchPopupIcon {
		max-width: 80px;
		max-height: 80px;
		background-color: rgba(0, 0, 0, 0.2);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	}
	:global(.modal-footer) {
		justify-content: flex-start;
	}
	.ResearchDesc {
		word-break: break-word;
		white-space: pre-line;
	}
	.ResearchInfo {
		:global(.res-icon) {
			margin-right: 0.25em;
			max-height: 24px;
			vertical-align: middle;
		}
		// Placeholder
	}
}
