.on-subbadge {
	margin: 0 0.1em;
	padding: 0em 0.35em;
	border-radius: 0.25em;
	background-color: transparentize($light, 0.25);
	color: $dark;
}

:global .badge > .elem-icon,
:global .badge .on-subbadge > .elem-icon {
	margin: 0 4px 0 0;
	vertical-align: text-bottom;
}

:global .buff-list > .list-group {
	margin-top: 0.5em;

	&:first-child {
		margin-top: 0;
	}
}
