:global .equip-card {
	.equip-sources {
		position: absolute;
		margin-left: -0.25em;
		left: 4px;
		top: 4px;
		line-height: 0;

		> .equip-source {
			box-shadow: 0 0 4px #000;
		}
	}

	.card-body {
		padding: 0.5em;
	}

	.equip-name {
		word-break: keep-all;
	}
	.equip-stretched {
		margin: 0;
		padding: 0;
		width: 1px;
		height: 1px;
		overflow: hidden;
	}
}
