.ConditionRow {
	+ hr {
		margin-left: 7em;
	}

	.LogicalColumn {
		position: relative;
		margin-top: -1.25em;
		width: 7em;

		> button {
			width: 4em;
		}

		.ConditionAndLine {
			position: absolute;
			top: -0.25em;
			right: 0;
			width: 0.8em;
			border: 2px solid $dark;
			border-right: 0 transparent;
		}
	}
}
