:global .world-item {
	.card-body {
		img {
			width: 100%;
			max-width: 6rem;
		}

		.world-item-name {
			font-size: 1.25em;
		}
		.world-item-desc {
			word-break: keep-all;
			font-size: 0.875em;
			opacity: 0.875;
		}
		hr {
			border-top-color: rgba(255, 255, 255, 0.1);
		}
	}
}
