:global .unit-group {
	width: 100%;

	.unit-group > .row > *:nth-child(2n + 1) {
		display: grid;
		grid-template-rows: 1fr auto auto 1fr;
		padding: 10px;
		vertical-align: middle;
		word-break: keep-all;
		justify-content: center;
		justify-items: center;

		> img {
			width: 96px;
		}

		*:nth-child(1) {
			grid-row: 2;
		}
		*:nth-child(2) {
			grid-row: 3;
		}
	}

	.unit-group > .row > *:nth-child(2n) {
		border: 1px solid #ccc;

		> .row {
			margin: 0;
		}
	}
}
