:global .worlds-world {
	.card {
		background-color: rgba($black, 0.6);
		color: $light;

		&.disabled {
			opacity: 0.88;
		}

		.card-body {
			&::after {
				content: "";
				display: table;
				clear: both;
			}

			.worlds-world-number {
				font-weight: 600;
				font-size: 0.8em;
			}
			.worlds-world-name {
				display: inline-block;
				word-break: keep-all;
				font-weight: 500;
				font-size: 1.1rem;
			}

			> .btn-group > button {
				font-weight: bold;
				font-size: 90%;
			}
		}
	}
}

.EventBanner > img {
	max-width: 100%;
}
