:global .worlds-world {
	.card.disabled {
		opacity: 0.88;
	}

	.card-body {
		img {
			width: 100%;
			// max-width: 6rem;
		}

		.worlds-world-number {
			padding-top: 0.25em;
			font-weight: 600;
			font-size: 0.8em;
		}
		.worlds-world-name {
			font-weight: 500;
			font-size: 1.1rem;
		}
	}
}
