$rarities: (
	B: #e2f0d9,
	A: #deebf7,
	S: #fff2cc,
	SS: #fce391,
);
@each $rarity, $value in $rarities {
	.rarity-#{$rarity} {
		background-color: $value;
		border-color: darken($value, 15%);
	}
	.rarity-#{$rarity}-force {
		background-color: $value !important;
		border-color: darken($value, 15%) !important;
	}
	
	.rarity-#{$rarity}-border {
		border-color: darken($value, 15%);
	}
	.rarity-#{$rarity}-border-force {
		border-color: darken($value, 15%) !important;
	}
}
