@mixin vert-separator {
	.vert-separator {
		border-left: $hr-border-width solid $hr-border-color;
	}

	$breakpoints: $grid-breakpoints;
	@each $breakpoint in map-keys($breakpoints) {
		$infix: breakpoint-infix($breakpoint, $breakpoints);

		@include media-breakpoint-up($breakpoint, $breakpoints) {
			.vert-separator#{$infix} {
				border-left: $hr-border-width solid $hr-border-color;
			}
		}
	}
}
@include vert-separator();

@mixin no-focus-outline {
	&:focus {
		outline: none;
	}
}

.nav-tabs .nav-link,
.card-header[role="button"] {
	@include no-focus-outline;
}
