.UnitSourceTable {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-auto-rows: auto;
	grid-auto-flow: row;
	line-height: 1;

	margin: 10px;
	padding: 0;
	border: 0;

	a {
		display: inline-block;
		line-height: 1;
	}

	$border-color: rgba($secondary, 0.5);

	.Header {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		row-gap: 5px;

		padding: 10px;
		max-width: 80px;
		border-top: 1px solid $border-color;
		border-right: 1px solid $border-color;

		&:first-child {
			border-top: 0;
			border-top-left-radius: 6px;
		}
		&:nth-last-child(2) {
			border-bottom-left-radius: 6px;
		}

		// keep word if available, break if not
		overflow-wrap: anywhere;
		word-break: keep-all;

		line-height: 1.4;
		font-weight: 600;
		font-size: 14px;

		background-color: $dark;
		color: $light;

		> svg {
			font-size: 24px;
		}

		.PermanentEvent {
			color: $warning;
		}
		.CurrentEvent {
			color: $stat-hp;
		}
		.Event {
			color: $info;
		}
	}

	.Content {
		background-color: $light;
		color: $dark;

		border-top: 1px solid $border-color;
		border-right: 1px solid $border-color;
		&:last-child {
			border-bottom: 1px solid $border-color;
		}

		&:first-child,
		&:nth-child(2) {
			border-top-right-radius: 6px;
		}
		&:last-child {
			border-bottom-right-radius: 6px;
		}
		+ .Content:last-child {
			border-bottom-left-radius: 6px;
		}

		&.Headerless {
			grid-column: 1 / 3;
		}
		&.Available {
			// background-color: rgba($warning, 0.14);
			background-color: color.mix($warning, $light, 14%);
		}

		.SectorName {
			display: flex;
			flex-direction: row;
			align-items: center;
			gap: 6px;

			padding: 8px 12px 4px;
			text-align: left;
			font-weight: 700;
			font-size: 14px;

			> svg {
				// font-size: 5px;
				font-size: 10px;
			}
		}
		.SourceSectors {
			margin: 10px;

			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			column-gap: 2px;
			row-gap: 5px;

			> svg {
				color: rgba($dark, 0.5);
			}
		}
	}
}
