#app {
	display: flex;
	flex-direction: column;

	height: 100%;

	> * {
		flex: 1;

		&.navbar {
			flex: 0 0 auto;
		}
	}

	> .container:empty {
		display: none;
	}

	.toast-container {
		left: 50%;
		bottom: 1rem;
		transform: translateX(-50%);

		> .toast {
			--bs-toast-max-width: auto;
			max-width: calc(100vw - 2rem);
		}
	}
}
