.FilterButtons > button {
	display: inline-block;
	margin: 0 0.25em 0.25em;
	padding: 0.25em 0.45em;
	width: auto;
}

.FilterIcon {
	margin-right: 0.5em;
	padding: 2px;
	width: 2em;
	border-radius: 0.25em;
	background: $dark;
	vertical-align: middle;
}

.FilterCol {
	display: grid;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	grid-template-columns: auto 1fr auto;
	text-align: start;
}

div.SkinCol {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: auto auto;
	align-items: center;

	margin-bottom: 0.5em;
	padding: 0.5em;
	border: 1px solid $dark;
	border-radius: 0.25em;
	background: transparentize($dark, 0.125);
	text-align: start;
	color: $light;

	> img {
		margin-right: 1em;
		grid-row: 1 / 3;
	}
	> span:nth-child(2) {
		font-size: 90%;
		color: transparentize($light, 0.2);
	}
	> span:nth-child(3) {
		font-size: 110%;
	}
}
a.SkinCol {
	text-decoration: none;
}
