.UnitView {
	> .Header {
		display: flex;
		flex-direction: row;
		align-items: start;
		gap: 10px;

		margin-bottom: 20px;

		> .BackButton {
			margin: 4px 0 0;
		}
		> .Tabs {
			flex: 1;
			justify-content: end;
		}
	}
}
