.CreationBadge {
	font-size: inherit !important;
}

.CostInfo {
	padding: 0.5em;
	font-weight: normal;

	:global(.res-icon) {
		margin-right: 0.25em;
		max-height: 24px;
		vertical-align: middle;
	}

	// Placeholder
}

.ExtPassiveLevel {
	display: inline-block;

	&::before {
		content: "";
		display: inline-block;
		margin: 0 0.5em 0.3em;
		width: 1.25em;
		height: 1px;
		background-color: #777;
		line-height: 0;
	}
}

.IntroduceText {
	position: relative;
	line-height: 1.6;
	font-weight: 400;
	// text-shadow: 0 0 2px transparentize($light, 0.75);
	text-align: left;
	word-break: keep-all;

	> div:global(.card-body) {
		white-space: pre-line;
	}

	background-color: $dark;
	background-image: radial-gradient($dark, darken($dark, 6%));

	> div.IntroduceVoice {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		margin: -0.5em;
		margin-top: 1em;
		padding: 0.5em;
		border-radius: 0.5em;
		background-color: rgba($black, 0.5);

		> div {
			margin-bottom: 0.5em;
			width: auto;
		}
		> audio {
			flex: 1;
			border-radius: 0.375em;
		}

		@include media-breakpoint-up("xxl") {
			flex-direction: row;

			> div {
				margin-bottom: 0;
			}
			> audio {
				margin-left: 0.5em;
			}
		}
		@include media-breakpoint-down("sm") {
			padding: 0;

			> div {
				// btn-group
				margin: 2px;
				width: calc(100% - 4px);
				justify-content: center;

				> :first-child {
					padding: 0.2em;
					max-width: 3em;
					flex: 1;
					justify-content: center;
				}
			}
			> audio {
				margin: 2px;
				width: calc(100% - 4px);
				min-height: 2.5em;
			}
		}
	}

	.IntroduceTextBody {
		position: relative;
		z-index: 2;
	}
	.GroupIcon {
		position: absolute;
		margin: auto;
		left: 1rem;
		top: 1rem;
		width: calc(100% - 2rem);
		height: calc(100% - 2rem);
		object-fit: scale-down;
		opacity: 0.125;
		z-index: 1;
		pointer-events: none !important;
	}
}

.SpecChartWrapper {
	// display: inline-block;
	padding: 1em;

	background-color: $dark;
	background-image: radial-gradient($dark, darken($dark, 6%));

	> canvas {
		margin: auto;
		max-width: 300px;
		max-height: 300px;
	}
}

.SkinTabs {
	overflow-x: auto;
	overflow-y: hidden;

	> ul {
		flex-wrap: nowrap;
		white-space: nowrap;
	}
}
.SkinPrice {
	> img {
		float: left;
		margin-right: 0.25em;
		height: 1em;
	}
}
.SkinNameDesc {
	white-space: pre-wrap;
	word-break: keep-all;
	:global(.card-body) {
		font-size: 90%;

		&:empty {
			display: none !important;
		}
	}
}

.IllustratorHidden {
	background-color: rgba(darken($primary, 8%), 0.3);
	color: inherit;
	cursor: help;
	user-select: none;
}

.LvLimitTableWrapper {
	table th,
	table td {
		vertical-align: middle;
	}

	.LvLimitHeaderItem {
		white-space: nowrap;
		word-break: keep-all;
		font-size: 80%;
	}
	.LvLimitItemIcon {
		float: left;
	}
	.LvLimitCount {
		display: inline-block;
		margin-left: 0.5em;
		white-space: nowrap;

		@include font-exo2;

		&::before {
			content: "x";
			margin-right: 0.125em;
			font-size: 90%;
			opacity: 0.65;
		}
	}
}

.PromoTable {
	display: flex;
	flex-direction: row;

	justify-content: center;
	column-gap: 1rem;

	@include media-breakpoint-down(md) {
		flex-direction: column;
	}

	> .PromoInfo {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: auto auto auto;

		text-align: center;

		> img {
			margin-right: -1.75rem;
			margin-bottom: 1rem;
			max-width: 6rem;

			justify-self: center;
		}

		> .PromoEnd {
			> svg {
				margin-top: 1rem;
				width: 4rem;
				height: auto;
				max-width: 100%;
				opacity: 0.55;
			}
		}

		& + .Arrow {
			margin-top: 2rem;
			font-size: 1.75rem;
		}

		.PromoLevel {
			font-size: 105%;

			> strong {
				font-size: 120%;
			}
		}

		> table.PromoItems {
			margin: 1rem;

			td {
				padding: 0.5rem 0.75rem;
			}

			.ItemIcon {
				float: left;
				margin-right: 0.25rem;
			}
			.ItemCount {
				&::before {
					content: "x";
					margin-right: 0.25rem;
					font-size: 90%;
					opacity: 0.65;
				}
			}
		}

		&:last-child {
			display: block;
		}

		@include media-breakpoint-down(md) {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto;

			& + .Arrow {
				margin: 0.5rem 0;
				font-size: 1.75rem;
			}

			.PromoLevel {
				grid-column: 1;
				grid-row: 2;
			}

			> table.PromoItems {
				margin: 0.25rem;
				margin-left: 0;
				grid-column: 2;
				grid-row: 1 / 3;
			}
		}
	}
}

table.InfoTable {
	th {
		vertical-align: middle;
	}

	.GroupIcon {
		display: block;
		margin: 0 auto;
		width: 5em;
		filter: invert(1);
	}
}

.UnitCountry {
	vertical-align: baseline;
}

:global .unit-view {
	.tab-box {
		padding: 10px;
		border: 1px solid #dee2e6;
	}

	// .fulllink-table {
	//	padding-top: 0.55em;
	// }
	.table-unit-modal.container {
		.col {
			margin-bottom: -1px;
			padding: 0.75rem;
			border: 1px solid #dee2e6;

			&.bg-dark {
				border-color: #454d55;
				font-weight: bold;
			}
		}
	}

	.table-unit-modal.table-bordered {
		td,
		th {
			vertical-align: middle;
			word-break: keep-all;
		}

		th.table-dark {
			border-color: #454d55;
		}

		.rarity-badge {
			border: 1px solid rgba(0, 0, 0, 0.33);
			box-shadow: 0 0 1px #000;
		}
	}

	.table-unit-link-select {
		display: inline-block;
		margin-left: 1em;
		width: 8em;
		vertical-align: baseline;
	}

	.table-unit-level-select,
	.table-unit-rarity-select {
		display: inline-block;
		margin-left: 1em;
		width: 8em;
		vertical-align: baseline;
	}

	.skill-icon {
		height: 64px;
	}
	.badge.skill-info-badge {
		margin-top: 0.35rem;

		> .elem-icon {
			vertical-align: text-bottom;
		}
	}

	.unit-modal-skill {
		padding: 3px 0;
		border-bottom: 1px solid #dee2e6;

		&:last-child {
			border-bottom: 0;
		}

		&:empty {
			display: none;
		}
	}

	.drop-list {
		line-height: 1;

		a {
			display: inline-block;
			line-height: 1;
		}
	}

	.limited-item-card {
		display: inline-block;
		width: 100%;
		max-width: 20rem;
	}

	.equip-grid {
		display: grid;
		margin-bottom: 1em;
		grid-template-columns: repeat(4, 1fr);
		grid-gap: 0.125em;

		> .equip-slot {
			margin: 0.125em;
			padding: 0.5em;
			border-radius: 0.25em;
			background-color: $dark;
			text-align: center;
			font-weight: bold;
			font-size: 80%;
			color: transparentize($light, 0.15);

			:first-child {
				color: $light;
			}

			> :nth-child(2) {
				margin-top: 0.25em;
				margin-bottom: 0.25em;
			}

			> .equip-slot-icon {
				min-height: calc(40px);
				background-position: center;
				background-repeat: no-repeat;
				background-size: 40px 40px;
			}

			$types: 0, 1, 2;

			@each $type in $types {
				&[data-type="#{$type}"] > .equip-slot-icon {
					background-image: url($assetsRoot + "/simulation/Item#{$type}.png");
				}
			}
		}
	}
}

.break-keep {
	word-break: keep-all;
}

.SkinBanner {
	width: 100%;
	max-width: 800px;
}

.VerticalTabs:global(.nav-tabs) {
	--bs-nav-tabs-link-hover-border-color: var(--bs-secondary-bg) var(--bs-border-color) var(--bs-secondary-bg)
		var(--bs-secondary-bg);
	--bs-nav-tabs-link-active-border-color: var(--bs-border-color) var(--bs-body-bg) var(--bs-border-color)
		var(--bs-border-color);

	border-bottom: 0;
	border-right: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);

	> button:global(.nav-link) {
		border-top-left-radius: var(--bs-nav-tabs-border-radius);
		border-bottom-left-radius: var(--bs-nav-tabs-border-radius);
		border-top-right-radius: 0;
	}
}

.OneStoreIcon,
.PlayStoreIcon {
	display: inline-block;
	width: 28px;
	height: 28px;
	background-image: url($assetsRoot + "/ui/icon-skin-platform.png");
	background-size: 56px 28px;
}
.OneStoreIcon {
	background-position-x: -28px;
}

.GradientSeparator {
	$c2: $secondary;
	$c1: transparent;

	margin: 0.25rem 0.5rem;
	height: 1px;
	background: linear-gradient(to right, $c1, $c2, $c1);
}
