._2DModelRenderer {
	position: relative;
	z-index: 1;
	pointer-events: none !important;
	user-select: none !important;

	> svg {
		position: absolute;
		width: 1px;
		height: 1px;
		overflow: hidden;
		opacity: 0 !important;
		pointer-events: none !important;
	}

	img {
		position: absolute;
		left: 0;
		top: 0;
		transform-origin: 0 0;

		margin: 0 !important;
		height: auto !important;
		object-fit: none !important;
	}
}
