.WorldName {
	font-weight: 600;
	font-size: 107.5%;
}

.SubStoryGroup {
	img.SubStoryGroupIcon {
		border-radius: 0.25em;
	}

	> span {
		font-size: 120%;
	}

	> .SubStoryList {
		margin: 0.25em;
		margin-left: 0.5em;
		padding: 0 0.5em;
		border-radius: 0.25em;
		background-color: transparentize($black, 0.65);

		> .SubStory {
			padding: 0.5em 0;
			border-bottom: 1px solid transparentize($light, 0.85);

			&:last-child {
				border-bottom: none;
			}

			.SubStoryUnlock {
				position: relative;
				display: inline-block;
				margin: 0.5em 0 0;
				padding: 0.3em 0.4em 0.3em 2em;
				border-radius: 0.25em;
				background-color: transparentize($light, 0.9);
				line-height: 1.1;
				font-size: 90%;

				> svg {
					position: absolute;
					left: 0.5em;
					top: 0;
					width: 1em;
					height: 100%;
				}
			}
		}
	}
}
.SubStoryUnlockCond {
	word-break: keep-all;
}
.SubStoryUnlockCondStage {
	background-color: transparentize($black, 0.4);
	color: $light;
}

.BadgeImage {
	margin: -1em -0.75em;
	max-width: 5.5em;
}

:global .worlds-map {
	.worlds-map-bg {
		position: relative;

		background-image: url($assetsRoot + "/world/bg.png");
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		background-color: #171717;
		overflow-x: auto;

		scroll-behavior: smooth;

		&:not([data-new="1"]) {
			padding: 1em;
		}

		a:focus {
			border: none !important;
			outline: none !important;
		}
	}

	.selected-node-badge {
		position: relative;
		top: -0.125rem;
	}

	.drop-unit,
	.drop-equip {
		text-decoration: none;
	}

	.wave-button {
		display: inline-block;
		margin: 0.25em 0.5em;

		.current-map-marker {
			position: absolute;
			transform: scale(0.7);
		}
	}

	.enemy-grid {
		$gap: 0.75em;

		display: inline-grid;
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(3, 1fr);
		gap: $gap;
		vertical-align: middle;

		> div {
			position: relative;
			padding: 1em;
			border-radius: 8px;
			line-height: 120%;
			background-color: $gray-500;

			&:empty {
				background-color: $gray-300;
			}
		}
		img {
			max-width: 100px;
			max-height: 100px;
		}
	}
}

.ChapterSelect {
	position: sticky;
	margin-left: -0.5rem;
	margin-top: -0.5rem;
	left: 0rem;
	top: 0rem;

	& + div {
		margin-top: 0.5rem;
	}
}
