.navbar .navbar-brand > img {
	width: 32px;
	height: 32px;
}
.navbar .navbar-nav .nav-item {
	padding: 0 0.2em;
}
.navbar .navbar-brand > span {
	display: inline-block;
	margin-left: 0.75em;
	line-height: 1.2;
	font-weight: bold;
	font-size: 0.75em;
	vertical-align: middle;
}
