.navbar {
	.navbar-brand {
		> img {
			width: 32px;
			height: 32px;
		}
		> span {
			position: relative;
			display: inline-block;
			margin-left: 0.75em;
			margin-right: 1.5em;
			line-height: 1.2;
			font-weight: bold;
			font-size: 0.75em;
			vertical-align: middle;

			.subtitle {
				position: absolute;
				margin-left: 0.25em;
				// left: 100%;
				// top: -0.4em;
				// transform: rotate(10deg);
				left: 50%;
				top: -1.2em;
				transform: translate(-50%, 0);
				transform-origin: 50% 50%;
				font-style: normal;
				font-size: 60%;
				white-space: nowrap;
				pointer-events: none !important;
				user-select: none !important;
				// color: transparentize($light, 0.5);
				color: transparentize($light, 0.1);

				> img {
					max-width: 4em;
					max-height: 4em;
					object-fit: contain;
				}
			}
		}
	}
	.navbar-nav {
		align-items: center;

		.nav-item {
			padding: 0 0.2em;
			line-height: 1.2;
			word-break: keep-all;
		}
	}
}
