.UnitFace2 {
	display: inline-block;
	margin: 0.25em;
	padding: 0.5em;
	border-radius: 0.25em;
	background-color: $dark;

	img {
		background-color: #000;
		border: 1px solid rgba(255, 255, 255, 0.4);
		border-radius: 0.25em;
	}
	> span {
		font-size: 90%;
	}
}
