.enemy-modal {
	.unknown-status {
		user-select: none;
		cursor: pointer;
	}

	.info-tab-button .bi {
		width: 100%;
		height: 100%;
		max-width: 56px;
		max-height: 56px;
		font-size: 44px;
	}
	.skill-icon {
		width: 100%;
		max-width: 56px;
	}

	.white-pre-line {
		white-space: pre-line;
	}

	.table-enemy-modal {
		.icon-container {
			display: flex;
			margin-bottom: 1px;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			.enemy-icon {
				border-radius: 3px;
				vertical-align: middle;
				overflow: hidden;

				img {
					display: block;
					width: 128px;
					height: 128px;
				}
			}
			> div:nth-child(2) {
				flex: 1;
				margin: 0;
				width: 100%;

				> .col {
					border-left: 0 !important;
					border-right: 0 !important;
				}
			}

			.col {
				margin-bottom: -1px;
				padding: 0.75rem;
				border: 1px solid #dee2e6;

				&.bg-dark {
					border-color: #454d55;
					font-weight: bold;
				}
			}
		}
	}

	.skill-desc .rarity-badge {
		border: 1px solid rgba(0, 0, 0, 0.33);
		box-shadow: 0 0 1px #000;
	}

	.resist-parent {
		[data-type="fire"] {
			color: $red;
		}
		[data-type="ice"] {
			color: lighten($cyan, 20%);
		}
		[data-type="lightning"] {
			color: $yellow;
		}
	}

	.input-prepend {
		position: absolute;
		margin-left: 0.75em;
		line-height: 2.75em;
		font-weight: bold;
		font-size: 90%;
		color: $dark;
		z-index: 5;

		& + input {
			padding-left: 2.25em;
		}
	}
	
	.status-col {
		> table {
			margin: auto;
			width: auto;
		}

		.status-col-head,
		.status-col-value {
			line-height: 1.2em;
			font-weight: bold;
			text-align: left;
		}

		.status-col-head {
			margin-left: 0.25em;
			word-break: keep-all;
			color: $gray-500;
		}
		.status-col-value {
			padding-top: 0.15em;
			color: $gray-400;
		}

		@include media-breakpoint-up("xs") {
			flex-direction: column;
			align-items: center;
			text-align: center;

			.status-col-icon {
				padding-right: 0;
			}
			.status-col-head {
				text-align: center;
			}
		}
		@include media-breakpoint-up("lg") {
			flex-direction: row;
			align-items: flex-start;
			text-align: left;

			.status-col-icon {
				padding-right: 0.5em;
			}
		}
	}
}