:global .drop-item > .card {
	word-break: keep-all;
	user-select: none;
	cursor: pointer;

	.equip-icon {
		background-color: transparentize(#000, 0.8);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	}
}
:global .modal .modal-content.item-modal {
	.equip-icon {
		background-color: rgba(0, 0, 0, 0.2);
		box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
	}
	.modal-footer {
		justify-content: flex-start;
	}
	.desc-text {
		word-break: keep-all;
		white-space: pre-line;
	}
}
