:global .skill-description {
	.skill-value {
		display: inline-block;
		border-radius: 0.25em;
		color: $dark;

		&[data-sign=""] {
			padding: 0.125em 0.25em;
			border: 1px solid transparentize($secondary, 0.5);
			background-color: $light;
		}
		&[data-sign="+"] {
			color: $primary;
		}
		&[data-sign="-"] {
			color: $danger;
		}
	}
	.subtree {
		padding: 0 2px;
		background-color: transparentize($danger, 0.78);
	}
}
