.PermanentBanner {
	> a {
		position: relative;
		display: inline-block;
	}

	img {
		max-width: 100%;
	}

	span.Title {
		position: absolute;
		left: 0.56em;
		bottom: 0.56em;
		font-size: 135%;
		color: #fff;
		z-index: 3;

		&.TitleStroked {
			-webkit-text-stroke: 4px rgba(0, 0, 0, 0.8);
			z-index: 2;
		}
	}
}
