.ChangelogItem {
	margin-bottom: 4em;
	text-align: left;

	h3 {
		&::after {
			content: "";
			display: table;
			clear: both;
		}

		.ReleaseTag {
			float: right;
			margin-right: 0.8em;
			line-height: 1.75rem;
			font-size: 60%;
			color: $substory;

			> svg {
				margin-top: -0.1em;
			}
		}
	}

	.Tags {
		font-size: 80%;
	}

	:global(.badge) {
		margin-left: 0.25em;
		margin-right: 0.25em;
		margin-bottom: 5px;
		padding: 0.25em 0.4em;
		font-size: inherit;

		&:first-child {
			margin-left: 0;
		}
	}

	@each $key, $color in $theme-colors {
		.SectorVariant-#{$key} {
			padding: 0.25em 0;
			border-left: 0.25em solid $color;
			background-color: rgba($color, 0.07);

			> h5 {
				display: inline-block;
				padding: 0 0.25em 0.125em 0.5em;
			}
			> ol,
			> ul {
				margin-bottom: 0;
			}
		}
	}
	.SectorVariant-substory {
		padding: 0.25em 0;
		border-left: 0.25em solid #07499b;

		> h5 {
			display: inline-block;
			padding: 0 0.25em 0.125em 0.5em;
		}
		> ol,
		> ul {
			margin-bottom: 0;
		}
	}
}
