.ChangelogItem {
	margin-bottom: 30px;
	text-align: left;

	.Title {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		column-gap: 10px;

		margin-bottom: 5px;
		font-weight: 600;
		font-size: 20px;

		> svg {
			font-size: 6px;
		}

		> .Date {
			font-weight: 600;
			font-size: 14px;
			color: $secondary;
		}

		.Tags {
			margin-left: 10px;

			display: flex;
			flex-direction: row;
			align-items: center;
			column-gap: 5px;

			.Tag {
				padding: 1px 6px;
				border-radius: 4px;
				font-size: 12px;
			}
		}
	}

	.Sector {
		margin-bottom: 4px;
	}

	$-colors: map.merge(
		$theme-colors,
		(
			substory: $substory
		)
	);
	@each $key, $color in $-colors {
		.SectorVariant-#{$key} {
			padding: 0.25em 0;
			border-left: 0.25em solid $color;
			background-color: rgba($color, 0.07);
			font-weight: 500;
			font-size: 14px;

			> .Category {
				font-weight: 700;
				font-size: 16px;
				padding: 0 0.25em 0.125em 0.5em;
			}
			> ol,
			> ul {
				margin-bottom: 0;
			}
		}
	}
}
