.Timeline {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
	row-gap: 3rem;
}

.StoryMapItem {
	border-radius: 0.25rem;

	.Box {
		display: grid;
		grid-template-columns: auto;
		grid-template-rows: auto auto auto;
		justify-content: center;
		row-gap: 0.25rem;

		text-align: center;
		text-decoration: none;
		color: inherit;

		> img {
			display: block;
			margin: auto;
			width: 88px;
		}
		> .StoryName {
			font-weight: 600;
			font-size: 18px;
		}
	}
}

.StoryItemList {
	.StoryItem {
		display: grid;
		grid-template-columns: 120px 1fr auto;
		grid-template-rows: auto auto;
		row-gap: 0.5rem;

		padding: 0.5rem;

		&:nth-child(2n + 1) {
			background-color: rgba($dark, 0.075);
		}

		strong {
			display: inline-flex;
			padding-left: 0.5rem;
			flex-direction: row;
			justify-content: start;
			align-items: center;
			column-gap: 0.5rem;

			.NodeIcon {
				height: 1.2em;
				vertical-align: middle;
				filter: drop-shadow(0 0 2px #000);
			}
		}

		.Buttons {
			> button + button {
				margin-left: 1px !important;
			}
		}

		.StoryTitle {
			grid-column: 1 / 4;
			grid-row: 2;

			overflow-wrap: anywhere;
			word-break: keep-all;

			font-weight: 600;
			font-size: 16px;
			text-align: center;
		}
	}
}
.SubstoryItemList {
	.StoryItem {
		+ .StoryItem {
			margin-top: 2rem;
		}

		strong {
			display: flex;
			flex-direction: row;
			align-items: center;
			column-gap: 0.5rem;
		}

		.SubstoryIcon {
			border-radius: 0.25rem;
		}

		.SubstoryList {
			margin-top: 0.25rem;
			text-align: start;

			.SubstoryItem {
				display: grid;
				grid-template-columns: auto 1fr auto;
				align-items: center;

				padding: 0.25rem;

				> span {
					overflow-wrap: anywhere;
					word-break: keep-all;
				}

				&:nth-child(2n + 1) {
					background-color: rgba($dark, 0.075);
				}
				&:nth-child(2n):last-child {
					border-bottom: 1px solid rgba($dark, 0.075);
				}
			}
		}
	}
}

.PopupHeader > h5 {
	display: flex;
	flex-direction: row;
	align-items: center;

	overflow-wrap: anywhere;
	word-break: keep-all;
}
.SubstoryEmpty {
	color: $secondary;

	> img {
		width: 200px;
	}
}

.TranscriptionLine {
	position: relative;
	cursor: pointer;

	.TranscriptionText {
		white-space: pre-line;

		*[data-color] {
			display: inline-block;
			margin: 0.1rem 0;
			padding: 0 0.25rem;
			border-radius: 0.25rem;
			background-color: $dark;
		}
	}
}
.TranscriptionSelection {
	margin-top: 1rem;
}

.Player {
	position: relative;

	> canvas {
		max-width: 100%;
	}

	// background-color: black;

	&.Hidden {
		display: none;
	}

	.BackgroundAudio {
		display: none;
	}

	.DoneScreen {
		$c1: rgba(0, 0, 0, 0.87);
		$c2: rgba(0, 0, 0, 0.77);

		position: absolute;
		display: flex;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background: $c1;
		background: radial-gradient($c2 0%, $c1 100%);
		@include font-ibm;
		font-weight: 500;
		font-size: 44px;
		color: #fff;

		justify-content: center;
		align-items: center;
		user-select: none;
		cursor: default;
		z-index: 1000;
	}
}

:global {
	.TextMeasurer {
		position: fixed;
		left: -100px;
		top: -100px;
		width: 1px;
		height: 1px;
		overflow: hidden;
		pointer-events: none;
		opacity: 0;

		> div {
			width: 100000px;
		}

		.Measurer {
			display: inline-block;
		}
	}
}
