// $baseRoot: "https://lastorigin-wiki-assets.s3.ap-northeast-2.amazonaws.com" !default;
$baseRoot: "/assets" !default;
$assetsRoot: $baseRoot + "/" !default;
$__theme__loaded: false !default;
$mode: "PUB" !default;

@if ($__theme__loaded == false) {
	@if ($NODE_ENV == "development") {
		// $baseRoot: "http://localhost:5500/assets" !global;
		$baseRoot: "http://lo.swaytwig.com/assets" !global;
		$assetsRoot: $baseRoot + "/" !global;
		$mode: "DEV" !global;
	}
	$__theme__loaded: true !global;
}
