@each $breakpoint in map-keys($grid-breakpoints) {
	@include media-breakpoint-up($breakpoint) {
		$infix: breakpoint-infix($breakpoint, $grid-breakpoints);

		@for $i from 1 through 12 {
			&.btn-grid#{$infix}-#{$i} {
				display: inline-grid;
				grid-template-columns: repeat($i, 1fr);
				grid-auto-rows: 1fr;

				> button.btn {
					border-radius: 0;

					&:focus {
						z-index: 1;
					}

					&:first-child {
						border-radius: 0.25rem 0 0 0;
					}
					&:last-child {
						border-radius: 0 0 0.25rem 0;
					}

					&:nth-child(#{$i}) {
						border-radius: 0 0.25rem 0 0;
					}
					&:nth-child(#{12 - $i + 1}) {
						border-radius: 0 0 0 0.25rem;
					}
				}
			}
		}
	}
}
