.stat-icon {
	$size: 20px;
	$scale: math.div($size, 52px);

	display: inline-block;
	margin-right: 0.5em;
	width: $size;
	height: $size;
	vertical-align: bottom;

	background-image: url($assetsRoot + "/simulation/stats.png");
	background-repeat: no-repeat;
	background-size: ($size * 7) $size;
	background-position: $size 0;

	$stat-list: ATK, DEF, HP, ACC, EVA, CRI, SPD;
	@each $stat in $stat-list {
		&[data-stat="#{$stat}"] {
			background-position: (-$size * (index($stat-list, $stat) - 1)) 0;
		}
	}

	&[data-inline="1"] {
		margin-right: 0;
	}
}
