.Badge {
	display: inline-block;
	margin: 1px;
	padding: 0 5px;
	border-radius: 4px;
	font-weight: 600;
	color: $light;

	&.BY {
		background-color: $warning;
		color: $dark;
	}
	&.BR {
		background-color: $danger;
	}
	&.BO {
		background-color: $orange;
	}
	&.BB {
		background-color: $dark;
	}
	&.BG {
		background-color: $success;
	}
}
