.UnitFace.Optimized {
    --x: 0;
    --y: 0;

    background-image: url($assetsRoot + "/atlas/face.webp?_=55b4440958345576766981e9de43ae87");
    background-size: 2822.7272727273% 2822.7272727273%;
    background-position:
        calc(0.0834724541% + 3.8397328881% * var(--x))
        calc(0.0834724541% + 3.8397328881% * var(--y));
    background-repeat: no-repeat;

    &.SD {
        background-image: url($assetsRoot + "/atlas/face-sd.webp?_=8317ccb3aa1c4a83fef53fda81593a64");
        background-size: 2822.7272727273% 2822.7272727273%;
        background-position:
            calc(0.0834724541% + 3.8397328881% * var(--x))
            calc(0.0834724541% + 3.8397328881% * var(--y));
    }
}