.UnitFace.Optimized {
    --x: 0;
    --y: 0;

    background-image: url($assetsRoot + "/atlas/face.webp?_=83f1ce7ffb6dad2e4d1de2e53b9afe1a");
    background-size: 2700% 2600%;
    background-position: calc(-100% * var(--x)) calc(-100% * var(--y));

    &.SD {
        background-image: url($assetsRoot + "/atlas/face-sd.webp?_=83f1ce7ffb6dad2e4d1de2e53b9afe1a");
        background-size: 2700% 2600%;
    }
}