.UnitFace.Optimized {
    --x: 0;
    --y: 0;

    background-image: url($assetsRoot + "/atlas/face.webp?_=cacd7c1d4b4dd7c1acf6963b932207da");
    background-size: 2500% 2400%;
    background-position: calc(-100% * var(--x)) calc(-100% * var(--y));

    &.SD {
        background-image: url($assetsRoot + "/atlas/face-sd.webp?_=cacd7c1d4b4dd7c1acf6963b932207da");
        background-size: 2500% 2400%;
    }
}