.SkillTableFChange {
	background-color: rgba($warning, 0.15);
}
.SkillFlavor {
	position: relative;
	margin: 0 0 10px;
	padding: 10px 35px;
	background-color: transparentize($dark, 0.92);
	text-align: left;
	white-space: pre-wrap;

	&::before,
	&::after {
		position: absolute;
		display: inline-block;
		top: 0;
		@include font-ibm;
		font-size: 40px;
		color: transparentize($dark, 0.2);
	}
	&::before {
		content: "“";
		left: 8px;
	}
	&::after {
		content: "”";
		right: 8px;
	}

	&:empty {
		display: none;
	}
}

.SkillTable {
	$border-color: #454d55; // from patch.scss

	.Title,
	.Header {
		padding: 8px 12px;
		background-color: $dark;
		font-weight: 500;
		color: $light;

		+ .Header {
			border-left: 1px solid $border-color;
		}
	}

	.Title {
		border-bottom: 1px solid $border-color;
	}
	.Table {
		display: grid;
		grid-template-columns: auto auto auto;
		grid-auto-flow: dense;
		align-items: center;

		@include media-breakpoint-down("md") {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: auto auto;

			> .SkillController {
				grid-column: 1 / 3;
				grid-row: 2;
			}
		}

		> div {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			height: 100%;
		}

		> .Header {
			border-bottom: 1px solid $border-color;

			&.SkillController {
				flex-direction: row;
				flex-wrap: wrap;
			}
		}

		> div:not(.Header) {
			padding: 8px 12px;
			border-left: 1px solid var(--bs-border-color);
			border-bottom: 1px solid var(--bs-border-color);

			&:nth-child(3n) {
				border-bottom-color: $border-color;
			}
		}
		> .LeftSide {
			.SkillNameCard {
				position: sticky;
				top: 10px;
				bottom: 10px;

				.SkillName {
					font-weight: 600;
				}
			}

			.DummyBadge {
				font-size: 75%;
			}
		}
		> .Content {
			display: grid;
			grid-template-columns: 1fr;
			grid-auto-rows: auto;
			grid-auto-flow: row;

			justify-content: start;
			text-align: start;

			// keep word if available, break if not
			overflow-wrap: anywhere;
			word-break: keep-all;

			@include media-breakpoint-down("md") {
				grid-column: 1 / 3;
				border-right: 1px solid var(--bs-border-color);
			}
		}
		> .Bound {
			background-color: $dark;
			color: $light;
		}
	}
}
