.SkillTableFChange {
	background-color: rgba($warning, 0.15);
}
.SkillFlavor {
	position: relative;
	margin: 0 0 10px;
	padding: 10px 35px;
	background-color: transparentize($dark, 0.92);
	text-align: left;
	white-space: pre-wrap;

	&::before,
	&::after {
		position: absolute;
		display: inline-block;
		top: 0;
		@include font-ibm;
		font-size: 40px;
		color: transparentize($dark, 0.2);
	}
	&::before {
		content: "“";
		left: 8px;
	}
	&::after {
		content: "”";
		right: 8px;
	}

	&:empty {
		display: none;
	}
}
